.stat-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    /* top: -47px; */
}

@media only screen and (min-width: 600px) {
    .stat-box {
        justify-content: center;
    }
}

.stat-row {
    display: flex;

}